<h2>{{unVelo.type}}</h2>

<p>{{unVelo.brand}}</p>
<p>{{unVelo.location}}</p>
<p>{{unVelo.status}}</p>
<p>{{unVelo.size}}</p>
<p>{{unVelo.description}}</p>
<img src="{{unVelo.picture}}">

<p><a href="/">back</a></p>