<form action="/bike/edit/{{unVelo._id}}" method="POST" enctype="multipart/form-data">
  
  <label class="label">
    Type
    <input type="text" name="type" value="{{unVelo.type}}" />

    Brand:
    <input type="text" name="brand" value="{{unVelo.brand}}" />

    Location:
    <input type="text" name="location" value="{{unVelo.location}}" />

    Status:
    <input type="text" name="status" value="{{unVelo.status}}" />

    Size:
    <input type="text" name="size" value="{{unVelo.size}}" />

    Description:
    <textarea name="description" cols="10" rows="4" value="{{unVelo.description}}"></textarea>

    Picture
    <img src="{{unVelo.picture}}">
    <input type="file" name="picture">
  </label>
  <div class= "button2"><button>Je modifie mon velo</button>
</form>

<form action="/bike/delete/{{unVelo._id}}" method="GET" enctype="multipart/form-data">
  <button >Je supprime mon vélo</button>
  </div>
</form>