<form action="/bike/edit/{{unVelo._id}}" method="POST" enctype="multipart/form-data">
  <label>
    Type
    <input type="text" name="type" value="{{unVelo.type}}" />
  </label>
  <label>
    Brand:
    <input type="text" name="brand" value="{{unVelo.brand}}" />
  </label>
  <label>
    Location:
    <input type="text" name="location" value="{{unVelo.location}}" />
  </label>
  <label>
    Status:
    <input type="text" name="status" value="{{unVelo.status}}" />
  </label>
  <label>
    Size:
    <input type="text" name="size" value="{{unVelo.size}}" />
  </label>
  <label>
    Description:
    <textarea name="description" cols="10" rows="4" value="{{unVelo.description}}"></textarea>
  </label>
  <label>Picture
    <img src="{{unVelo.picture}}">
    <input type="file" name="picture">
  </label>
  <button>Je modifie mon velo</button>
</form>

<form action="/bike/delete/{{unVelo._id}}" method="GET" enctype="multipart/form-data">
  <button>Je supprime mon vélo</button>
</form>